################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SW3/obj
/.vs/SW3/v15
/SW3/bin/Debug/netcoreapp2.1
